/* css styles */
.grid-item-link {
    color: inherit;
    text-decoration: none; /* Remove underline */
    transition: transform 0.2s ease-in-out; /* Add transition for smooth effect */
}
  
.grid-item-link:hover {
    transform: scale(1.05); /* Increase the scale for a zoom effect */
}